service: 'cornerstone'

frameworkVersion: '3'
configValidationMode: 'error'
deprecationNotificationMode: 'warn:summary'
useDotenv: true

provider:
  name: 'aws'
  runtime: 'nodejs20.x'
  profile: 'sbx' # AWS CLI Profile - Unique to my machine. 
  disableRollback: true # If the deployment fails, don't rollback to save dev time. | Set false for production.

plugins:
  - 'serverless-esbuild'

functions:
  JobDescriptionSubmitted:
    description: |
      The function triggers upon form submission. It processes the data and sends keywords to the Open AI API for interview questions. The results are then returned to the client.
    handler: 'src/functions/JobDescriptionSubmitted/JobDescriptionSubmitted.handler'
    events:
      - httpApi:
          path: '/generate'
          method: 'post'
    environment:
      OPENAI_API_KEY: ${env:OPENAI_API_KEY}
      